*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: rgb(3,98,98);
    background: linear-gradient(to right, rgb(4, 73, 73) 0%, rgba(149, 246, 253, 0.863) 40%);
    
}
nav{
    padding: 1rem;
    background: rgb(70,58,180);
background: linear-gradient(329deg, rgba(70,58,180,1) 0%, rgba(29,229,253,1) 50%, rgba(8,5,96,1) 100%);
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

}
nav img{
    width: 50px;
    height: 50px;
    outline: 5px solid white;
    border-radius: 50%;
    box-shadow: 5px 5px 15px white;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.4rem;
    
    
}

.links a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    transition: all 0.8s;
    padding: 10px;

}
.links a:hover{
    transform: scale(1.1);
    border-radius: 10px;
    background-color: white;
    color: darkblue;
    box-shadow: inset 1px 1px 7px rgb(6, 6, 110);
}
main{
    width: 100%;
    margin:2rem auto 0;
    /* border: 1px solid black; */
}
.def{
    margin:1% 10% 1% 10% ;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.firsth1{
    padding-top: 15px;
    width: 20%;
    font-size: 1.8rem;
}
.h2p{
    width: 75%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.09rem;
   
}
.container{
    padding: 2rem 3rem;
    width: 90%;
    margin:1% auto 1% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;

}
.imgcontainers{
    width: 20%;
    transition: all 0.8s;


}
.imgcontaineric{
    width: 100%;
    display: flex;
    padding-top: 0.4rem;

}
.imgcontaineric img{

    width: 100%;
    border-radius: 1rem;

}
.imgcontainers:hover{
    transform: scale(1.2);


}
.imgcontainers:hover .imgcontaineric>img{
    box-shadow: 5px 5px 60px rgb(32, 5, 66);
    cursor: pointer;


}


.below{
    margin-top: 3rem;
}
#p1{
    writing-mode:tb-rl;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px gray;
   
    
}
.names{
    text-align: center;
    font-size: 1.4rem;


}
@media screen and (min-width:0) and (max-width:402px){
    .links{
        flex-direction: column;
        width: 100%;
    }

    .below{
        margin-top: 0;
     
    }
    .container{
        font-size: 0.4rem;
    }
    .imgcontainers{
        width: 60%;
    }
} 

@media screen and (min-width:402px) and (max-width:552px){

    .below{
        margin-top:100rem;
     
    }
    .container{
        font-size: 0.5rem;
    }
    .imgcontainers{
        width: 35%;
    }
} 
@media screen and (min-width:552) and (max-width:1439px){

 
   
  
} 

@media screen and (min-width:1439px){
    .below{
        margin-top: 3rem;
     
    }
    .container{
        font-size: 1.5rem;
    }
    .imgcontainers{
        width: 25%;
    }
} 