@import url(theme.css);
*{
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 1rem;

}
.container{
    height: 100vh;
}
header{
    display: flex;
    width: 100%;
    box-shadow: var(--koyu-golge);
    

}
.logo{
    width: 33.33334%;
    background-color:var(--mavi1);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
}
.menu{
    width: 66.66667%;
    background-color:var(--gri-6);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;




}
nav{
    width: 100%;
    background-color:var(--turuncu);
    height: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4rem;

}
.main1{
    display: flex;
    flex-wrap: wrap;
  
}
.bolum1{
    width: 33.33334%;
    background-color:var(--tropikal-sari) ;
    text-align: center;
    height:calc(100vh - 330px);



}
.bolum2{
    width: 33.33334%;
    background-color:var(--tropikal-yesil1) ;
    text-align: center;
    height:calc(100vh - 330px);





}
.bolum3{
    width: 33.33334%;
    background-color:var(--tropikal-yesil2) ;
    text-align: center;
    height:calc(100vh - 330px);




}
/* .main2{
    display: flex;
} */

.bolum4{
    width: 25%;
    background-color:var(--acik-kirmizi) ;
    text-align: center;
    padding: 1rem;

}
.bolum5{
    width: 50%;
    background-color:var(--mavi1) ;
    text-align: center;
    padding: 1rem;




}
.bolum6{
    width: 25%;
    background-color:var(--tropikal-yesil1) ;
    text-align: center;
    padding: 1rem;



}
footer{
    height: 100px;
    background-color: var(--mavi-6);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;

}
