*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
background-image: linear-gradient(45deg, rgb(216, 206, 206), rgb(54, 224, 247));
padding: 1rem;
 width: 600px;
 margin:100px auto;
 border: 2px groove darkgreen;
 box-shadow: inset 1px 1px 7px green;
}
 .container img{
    width: 150px;
    float: left;
    padding: 27px 15px 20px 0;
 }
.container::after{
    content: "";
    clear: both;
    display: table;
}
.container h1{
    color: rgb(139, 0, 65);
    margin-top: 17px;
    text-align: center;

}
.container p{
    text-align: justify;
    color: black;
}